@import url('https://fonts.googleapis.com/css?family=Pacifico|Quicksand|Rubik');

* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body{
  font-family: 'Rubik', sans-serif;
  color:black;
  margin:0px;
}
h1,h2,h3{
  font-family: 'Quicksand', sans-serif;
}
h1{
  font-size:3em;
}
h2{
  font-size:2em;
}
h3{
  font-size:15pt;
}
p{
  font-size:10pt;
}
a{
  color:black;
}
button,input[type="submit"]{
  background-color: rgb(175, 157, 76); 
    border: none;
    color: white;
    padding: 15px 32px;
    margin:3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    
  cursor: pointer;
    font-size: 16px;
}
a.button{
  background-color: rgb(175, 157, 76); 
  border: none;
  color: white;
  padding: 15px 32px;
  margin:3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  
  cursor: pointer;
  font-size: 16px;
}
input,select,textarea{
  background-color: rgb(255, 255, 255); 
    border: solid 2px rgb(175, 157, 76); 
    color: rgb(0, 0, 0);
    padding: 5px 2px;
    margin:3px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
#tagline{
  font-family: 'Quicksand', sans-serif;
  font-size: 2em;
  color:white;
  text-align:center;
  font-weight:bold;
  
  text-shadow: 0 0 15px rgb(0, 0, 0);
}
#circlebutton{
  width:100px;
  height:100px;
  margin:0 auto;
  text-align:center;
  font-size: 3em;
  background-color:rgb(226, 226, 226);
  border-radius: 50px;
  position: absolute;
        bottom: 8px;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        transition:0.20s;
        text-shadow: 0 0 15px rgb(255, 251, 190);
}
#circlebutton i{
    padding-top:18px;
    text-align:center;
    font-size: 50pt;
}
#circlebutton:hover{
  
  background-color:rgb(70, 70, 70);
  color:rgb(255, 255, 255);
}
#storeName{
  font-family: 'Pacifico', cursive;
  font-size: 3em;
  text-shadow: 0 0 15px rgb(0, 0, 0);
  color:white;
  text-align:center;
}

#storeName-bg{
  font-family: 'Pacifico', cursive;
  font-size: 5em;
  text-shadow: 0 0 15px rgb(0, 0, 0);
  margin-top:10%;
  margin-bottom:0px;
  color:white;
  text-align: center;
  vertical-align: middle; 
}
#category-title{
  transition: 0.35s;
}
#clear{
  background-color: rgb(175, 76, 76); 
  border: none;
  color: white;
  padding: 10px 10px;
  margin:3px;
  margin-left:70%; 
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition:0.25s;
}
#clear:hover{
  background-color: rgb(219, 44, 44); 
}
#smallForm{
  position: relative;
  background-color: rgb(228, 228, 228);
  padding:10px 10px;
  margin:20px;
  width:100%; 
  min-height:300px;
  border-radius:10px;
}
#formCheck{
  background-color:white;
  position: relative;
  margin:0 auto;
  width:700px;
  padding:20px;
  min-height:500px;
}
.cart-remove{
  background-color: rgb(175, 76, 76); 
  border: none;
  color: white;
  padding: 10px 10px;
  margin:3px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition:0.25s;
}
.cart-remove:hover{
  
  background-color: rgb(219, 44, 44); 
}
.header-bg{
  display: flex;
  flex-flow: column;
  height: 100vh;
}
.header{
  background-image: url("img/cafe.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center; 
  
  padding:50px;
}
.footer{
 background-color:#000000;
 color:white;
 text-align:center;
 padding:10px;
}
.wrapper{
  overflow:auto;
}
.menu {
  float:left;
  width:20%;
  text-align:center;
}
.menu a {
  background-color:#e5e5e5;
  padding:8px;
  margin-top:7px;
  display:block;
  width:100%;
  color:black;
  cursor: pointer;
  transition:0.25s;
}
.menu a:hover{
  color:#e5e5e5;
  background-color:rgb(92, 86, 75);
  text-shadow: 0 0 15px rgb(255, 251, 190);
}
.main {
  float:left;
  width:55%;
  padding:0 20px;
  
}
.main-checkout {
  width:80%;
  position: relative;
  margin:0 auto;
  
}
.cart {
  background-color:#e5e5e5;
  float:left;
  width:25%;
  padding:15px;
  text-align:center;
}
.item{
  width:200px;
  min-height:300px;
  padding:10px;
  margin:10px;
  position:relative;
  float:left;
  background-color:#ffdead;
  cursor: pointer;
  transition:0.35s;
}
.item:hover{
  
  transform:scale(1.05,1.05);
  box-shadow: 1px 1px 5px grey;
}

.item img{
  display:block;
  width:180px;
  height:180px;
  margin-left: auto;
  margin-right: auto;
  font-size:10pt;
}
.item h3{
   margin:0px;
  padding:3px;
}
.item p{
  margin:0px;
  padding:0px;
  font-size:9pt;
}
.item strong{
  position:absolute;
  right:2px;
  top:2px;
  padding:7px;
  font-size:15pt;
  background-color:#ffdead;
  border-radius: 5px;
}
.cart-item{
  display:inline-block;
  position: relative;
  height:80px;
  padding-left:20px;
}
.cart-data{
  height:100%;
  margin-left: 20px;
  float:left;
}
.cart-item img{
  width:80px;
  height:80px;
  float:left;
}
.cart-quantity{
  display:block;
}
.cart-name{
  margin:0px;
  font-size:12pt;
}
.footnote{
  position:absolute;
  right:2px;
  bottom:2px;
  font-size:8pt; 
}
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}
 td.currency {
  text-align: right;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: rgb(204, 167, 0); 
  color: white;
}
.currency-holder{
  text-align: right;
  font-size:12pt;
  padding-right:13px;
}
.currency-text{
  margin-left:18px;
  font-weight: bold;
}
.price-total{
  
  font-size:17pt;
}
.nav{
background-color:black;
width: 100%;
height: 50px;
}
.navlinks{
  text-align: center;
}
.navlinks ul{
  list-style-type: none;
  margin:0 auto;
  overflow: hidden;
  display: inline-block;
}
.navlinks li{
float:left;
border-right: 1px solid #bbb;

}
.navlinks li:first-child{
  
border-left: 1px solid #bbb;
}


.navlinks li a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px 50px;
  text-decoration: none;
  transition:0.25s;
}

.navlinks li a:hover{
  background-color: rgb(175, 157, 76); 
  text-shadow: 0 0 10px rgb(255, 251, 190);
  color:white;
}
.navlinks .active{
  
  color:#e5e5e5;
  background-color:rgb(92, 86, 75);
}

.container{
  width:900px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color:white;
  margin:0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.disable{
  background-color:rgb(214, 214, 214);
}
.rounded{
  border-radius: 5px;
}
.display-img{
  width:100%;
  height:auto;
}
.display-left{
  width:40%;
  height:auto;
  margin:8px;
  float:left;
}
.display-right{
  width:40%;
  height:auto;
  margin:8px;
  float:right;
}
.display-clear{
  clear: both;
}
.shadowed{
  box-shadow: 1px 1px 5px grey;
}

.container-whole{
  width:100%;
  min-height: 50px;
  padding: 20px;
  padding-bottom: 20px;
  background-color:white;
  
  display: inline-block;
  margin:0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.container-whole div:last-child{
  
border-left: 1px solid #bbb;
}
.split{
  width:50%;
  padding:20px;
  float:left;
  height: 100%;
  background-color:white;
}
.contact{
  margin-left:7px;
}
/*
@media only screen and (max-width:620px) {
  .menu, .main, .right {
    width:100%;
  }
}
*/