@import url('https://fonts.googleapis.com/css?family=Pacifico|Quicksand|Rubik');

* {
  box-sizing: border-box;
}
body{
  font-family: 'Rubik', sans-serif;
  color:black;
  margin:0px;
}
h1,h2,h3{
  font-family: 'Quicksand', sans-serif;
}
h1{
  font-size:3em;
}
h2{
  font-size:2em;
}
h3{
  font-size:15pt;
}
p{
  font-size:10pt;
}
button,input[type="submit"]{
  background-color: rgb(175, 157, 76); 
    border: none;
    color: white;
    padding: 15px 32px;
    margin:3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    
  cursor: pointer;
    font-size: 16px;
}
input{
  background-color: rgb(255, 255, 255); 
    border: solid 2px rgb(175, 157, 76); 
    color: rgb(0, 0, 0);
    padding: 5px 2px;
    margin:3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
#storeName{
  font-family: 'Pacifico', cursive;
  font-size: 3em;
  text-shadow: 0 0 15px rgb(0, 0, 0);
  color:white;
  text-align:center;
}
#category-title{
  transition: 0.35s;
}
#clear{
  background-color: rgb(175, 76, 76); 
  border: none;
  color: white;
  padding: 10px 10px;
  margin:3px;
  margin-left:70%; 
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition:0.25s;
}
#clear:hover{
  background-color: rgb(219, 44, 44); 
}
#checkoutForm{
  position: relative;
  background-color: rgb(228, 228, 228);
  padding:10px 10px;
  width:100%; 
  min-height:300px;
}
#formCheck{
  background-color:white;
  position: relative;
  margin:0 auto;
  width:500px;
  min-height:500px;
}
.cart-remove{
  background-color: rgb(175, 76, 76); 
  border: none;
  color: white;
  padding: 10px 10px;
  margin:3px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition:0.25s;
}
.cart-remove:hover{
  
  background-color: rgb(219, 44, 44); 
}
.header{
  background-image: url("img/cafe.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  background-position: center; 
  
  padding:50px;
}
.footer{
 background-color:#000000;
 color:white;
 text-align:center;
 padding:10px;
 margin-top:7px;
}
.wrapper{
  overflow:auto;
}
.menu {
  float:left;
  width:20%;
  text-align:center;
}
.menu a {
  background-color:#e5e5e5;
  padding:8px;
  margin-top:7px;
  display:block;
  width:100%;
  color:black;
  cursor: pointer;
  transition:0.25s;
}
.menu a:hover{
  color:#e5e5e5;
  background-color:rgb(92, 86, 75);
}
.main {
  float:left;
  width:55%;
  padding:0 20px;
  
}
.main-checkout {
  width:80%;
  position: relative;
  margin:0 auto;
  
}
.cart {
  background-color:#e5e5e5;
  float:left;
  width:25%;
  padding:15px;
  text-align:center;
}
.item{
  width:200px;
  min-height:300px;
  padding:10px;
  margin:10px;
  position:relative;
  float:left;
  background-color:#ffdead;
  cursor: pointer;
  transition:0.35s;
}
.item:hover{
  
  transform:scale(1.05,1.05);
  box-shadow: 1px 1px 5px grey;
}

.item img{
  display:block;
  width:180px;
  height:180px;
  margin-left: auto;
  margin-right: auto;
  font-size:10pt;
}
.item h3{
   margin:0px;
  padding:3px;
}
.item p{
  margin:0px;
  padding:0px;
  font-size:9pt;
}
.item strong{
  position:absolute;
  right:2px;
  top:2px;
  padding:7px;
  font-size:15pt;
  background-color:#ffdead;
  border-radius: 5px;
}
.cart-item{
  display:inline-block;
  position: relative;
  height:80px;
  padding-left:20px;
}
.cart-data{
  height:100%;
  margin-left: 20px;
  float:left;
}
.cart-item img{
  width:80px;
  height:80px;
  float:left;
}
.cart-quantity{
  display:block;
}
.cart-name{
  margin:0px;
  font-size:12pt;
}
@media only screen and (max-width:620px) {
  .menu, .main, .right {
    width:100%;
  }
}